<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet type="text/css" href="{{ app.request.basepath }}/css/rss-style.css" ?> 
<!--Css Ne marche pas ? pourquoi-->
<rss version="2.0" >
	<channel>		
		<title>RSS Watson</title>
		<link>{{url('frss')}}</link>
		<description>15 derniers articles de Watson</description>
		{% for link in links %}
		<item>
			<title>{{link.title}}</title>
			<link>{{ path('link', { 'id': link.id }) }}</link>
			<description>{{link.desc}}</description>
		</item>
		{% endfor %}
	</channel>
</rss>
